@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------------------------------ */

body {
  font-family: 'Raleway', sans-serif;
 /* font-family: 'Cardo', serif; */
 -webkit-font-smoothing: antialiased;
  }

.header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

  .container {
    max-width: 1200px; /* прибавляем к 1170px сумму паддингов(30px) */
    width: 100%;
    margin:0 auto;
    padding: 0 15px; /* добавляем отступы контейнеру */
  }

  .header-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    border-bottom: 1px solid #4f5168;
    padding: 35px 0;
  }

  .nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
  }

  .nav__link {
    
    color: #fff;
    opacity: .75;
    margin-left: 50px;
  }

  .nav__link:first-child {
    margin-left: 0;
  }

  .nav__link:hover {
    color: #B5B5B5FF;
  }

 /*INTRO */
.intro{
  height: 750px;
  background: url('../img/header-bg/hd-bg.jpg')center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  
  color: #fff;
  justify-content: center;
}

.intro-inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro-title {
  text-transform: uppercase;
  font-size: 65px;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.intro-subtitle {
  
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 75px;
}

.btn { 
  display: inline-block;
  vertical-align: top;
  
  font-family: inherit;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  
  padding: 18px 40px;
  border-radius: 2px;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
   background-color: #E32A2AFF;
}



/* /INTRO */

/* FEATURES */

.container {}
.features {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-align: center;
  margin:95px 0;
  flex-wrap: wrap;
}
.features__items {
  font-size: 14px;
  width: 33.3333%;
  padding: 0 40px;
  margin:25px 0;
}
.features__img {
  margin-bottom: 20px;
}
.features__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.features__descr {
  line-height:1.5;
}

/* /FEATURES */

/* WORKS */

.works{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow:row wrap;
  margin-bottom: 100px;
}

.works__items{
  position: relative;
  width: 25%;
  height: 350px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%,-50%, 0);
}

.works__content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: opacity .3s linear,background-color .3s linear;
}

.works__content:hover {
  opacity: 1;
  background-color: rgba(232, 69, 69 , .9);
}

.works__title h3{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
/* /WORKS */

/* TEAM */

.team {
  margin: 100px 0 70px;
}

.team-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; /* убирает отступ от контейнера и позволяет прилегать к нему дочерние блоки */
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 40px;
}



.team__photo {
  display: block;     /* */
  max-width: 100%;    /* Адаптив под разные экраны */
  height: auto;       /* */
  margin-bottom: 30px;
}

.team__name {
  font-size: 22px;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.team__description {
  margin-bottom: 30px;
  line-height: 1.5;
}
/* /TEAM */
/* SOCIAL */

.social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.social__center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.social__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  margin-right: 4px;
}

.social__link:hover {
  background-color: #e8ecee;
}

.social__link:hover .facebook{
   fill: #1877f2ff;
}

.social__link:hover .twitter{
  fill: #1DA1F2;
}

.social__link:hover .linkedin{
  fill: #0077B5FF;
}

.social__icon {
  display: block;
  height: 18px;
  fill:#c6cacc;
}


/* /SOCIAL */
/* SLIDER */
/* /SLIDER */

/* DOWNLOAD */

.download {
  text-align: center;
  width: 100%;
  font-size: 13px;
  padding: 100px 0;
}

.download__title {
font-size: 28px;
font-weight: 300;
margin-bottom: 15px;
}

.download__description {
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.download__link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background-color: #e84545;
  line-height: 21px;
  padding: 20px 80px;
  border-radius: 2px;
}

.download__link:hover {
  background-color: #e32a2aff;
}
/* /DOWNLOAD */

.info{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-color: #3a3e64;
  width: 100%;
  height: 250px;
  color: #fff;
  font-size: 14px;
  padding-top: 70px;
  text-align: center;
}
.info-wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.info__title{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.info__location {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: baseline;
  max-width: 170px;
  width: 100%;
  
}

.info__description {
  line-height: 22.5px;
  color: #808080;
}

.info__social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  max-width: 170px;
  width: 100%;
}


.info__about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
}
/* FOOTER */

.footer {
  background-color: #313454;
  text-align: center;
  height: 94px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.footer__text {
  color: #808080;
  line-height: 22.5px;
}

.footer__link {
  color: #fff;
}

/* /FOOTER */
